// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: rgb(167, 103, 20);
  background: lightgray;
  font-size: 14px;
  margin: 10px 20px;
}

.main_content {
  border: 2px solid rgb(187, 71, 17);
  margin: 30px auto;
  width: 60%;
}

.content_form {
  text-align: center;
  margin: 30px auto;
  padding: 0 auto;
}

.submit {
  text-align: center;
}
